<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://harisbronja-002-site2.jtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>518d244e-4b91-4b54-b281-3e7293b5e81a</ProjectGuid>
    <publishUrl>ftp://win6053.site4now.net:21</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>agency</FtpSitePath>
    <UserName>harisbronja-002</UserName>
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>